---

product_name: "Roq Trading Solutions"

###############
### ANSIBLE ###
###############

ansible_user: ansible
become_user: root

##############
### SYSTEM ###
##############

upgrade_system: true

###########
### ROQ ###
###########

roq_version: "latest"
roq_conda_channel: "stable"

################
### INFLUXDB ###
################

roq_influxdb:
  logging:
    verbosity: 0

####################
### COINBASE PRO ###
####################

roq_coinbase_pro:
  logging:
    verbosity: 0
  options:
    name: "coinbase-pro"
    rest_uri: "https://api.pro.coinbase.com"
    ws_uri: "wss://ws-feed.pro.coinbase.com"
    fix_uri: "tcp+ssl://fix.pro.coinbase.com:4198"
    loop_cpu_affinity: 1
    loop_sleep_nsecs: 0
    loop_timer_freq_nsecs: 500
  symbols:
    - ".*"
  accounts:
    "A1":
      login: "YOUR_COINBASE_PRO_LOGIN_GOES_HERE"
      password: "YOUR_COINBASE_PRO_PASSWORD_GOES_HERE"
      secret: "YOUR_COINBASE_PRO_SECRET_GOES_HERE"
      symbols: ".*"
      master: true
  users:
    test:
      password: "1234"
      symbols: ".*"
    trader:
      password: "secret"
      accounts: "A1"
      symbols: "BTC-USD"
      monitor_period_secs: 60
      ban_period_secs: 300
      request_limit: 10
    example-1:
      password: "secret"
      symbols: ".*"
    example-2:
      password: "secret"
      symbols: ".*"
    example-3:
      password: "secret"
      accounts: "A1"
      symbols: "BTC-.*"
      monitor-period-secs: 60
      ban-period-secs: 300
      request-limit: 5

###############
### DERIBIT ###
###############

roq_deribit:
  logging:
    verbosity: 0
  options:
    name: "deribit"
    ws_uri: "wss://www.deribit.com/ws/api/v2"
    fix_uri: "tcp://www.deribit.com:9881"
    loop_cpu_affinity: 2
    loop_sleep_nsecs: 0
    loop_timer_freq_nsecs: 500
  symbols:
    - ".*"
  accounts:
    "A1":
      login: "YOUR_DERIBIT_LOGIN_GOES_HERE"
      secret: "YOUR_DERIBIT_SECRET_GOES_HERE"
      symbols:
        - "*"
      master: true
  users:
    test:
      password: "1234"
      symbols: ".*"
    trader:
      password: "secret"
      accounts: "A1"
      symbols: BTC-\\d{2}\\D{3}\\d{2}
      monitor_period_secs: 60
      ban_period_secs: 300
      request_limit: 10
    example-1:
      password: "secret"
      symbols: ".*"
    example-2:
      password: "secret"
      symbols: ".*"
    example-3:
      password: "secret"
      accounts: "A1"
      symbols: BTC-\\d{2}\\D{3}\\d{2}
      monitor-period-secs: 60
      ban-period-secs: 300
      request-limit: 5
