---

product_name: "Roq Trading Solutions"

###############
### ANSIBLE ###
###############

ansible_user: ansible
become_user: root

##############
### SYSTEM ###
##############

upgrade_system: true

###########
### ROQ ###
###########

roq_version: "latest"
roq_conda_channel: "unstable"

###############
### DERIBIT ###
###############

roq_deribit:
  version: "{{ roq_version }}"
  name: "deribit"
  logging:
    verbosity: 0
  cpu_affinity:
    dispatcher: 1  # busy poll on cpu #1
    network: 6  # epoll on cpu #6
  collect:
    file_size: "{{ 128 * 1024 * 1024 }}"  # mmap'ed feed
  options:
    reconnect_secs: 1
    ping_freq_secs: 10
    cancel_on_disconnect: true
  net:
    fix: "tcp://test.deribit.com:9881"
  symbols:
    - ".*-PERPETUAL"
    - ".*-DERIBIT-INDEX"
    - .*-\\d{2}\\D{3}\\d{2}
  accounts:
    "A1":
      login: "YOUR_DERIBIT_LOGIN_GOES_HERE"
      secret: "YOUR_DERIBIT_SECRET_GOES_HERE"
      symbols:
        - "BTC-.*"
        - "ETH-.*"
      master: true
  users:
    test:
      password: "1234"
      symbols: ".*"
    trader:
      password: "secret"
      accounts: "A1"
      symbols: BTC-\\d{2}\\D{3}\\d{2}
      monitor_period_secs: 60
      ban_period_secs: 300
      request_limit: 10

####################
### COINBASE PRO ###
####################

roq_coinbase_pro:
  version: "{{ roq_version }}"
  name: "coinbase-pro"
  logging:
    verbosity: 0
  cpu_affinity:
    dispatcher: 2  # busy poll on cpu #2
    network: 6  # epoll on cpu #6
  collect:
    file_size: "{{ 128 * 1024 * 1024 }}"  # mmap'ed feed
  options:
    reconnect_secs: 1
    ping_freq_secs: 10
    cancel_on_disconnect: true
  net:
    fix: "tcp+ssl://fix-public.sandbox.pro.coinbase.com:4198"
    ws: "wss://ws-feed-public.sandbox.pro.coinbase.com"
    rest: "https://api-public.sandbox.pro.coinbase.com"
  accounts:
    "A1":
      login: "YOUR_COINBASE_PRO_LOGIN_GOES_HERE"
      password: "YOUR_COINBASE_PRO_PASSWORD_GOES_HERE"
      secret: "YOUR_COINBASE_PRO_SECRET_GOES_HERE"
      symbols:
        - "BTC-.*"
        - "ETH-.*"
      master: true
  users:
    test:
      password: "1234"
      symbols: ".*"
    trader:
      password: "secret"
      accounts: "A1"
      symbols: "BTC-USD"
      monitor_period_secs: 60
      ban_period_secs: 300
      request_limit: 10
